@import url("https://fonts.cdnfonts.com/css/trajan-pro");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import "tailwindcss";

@tailwind utilities;
/* Remove @tailwind components; use @layer components for custom component styles */
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fbfbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* @layer components {
  .container {
    @apply ;
  }
} */

@theme {
  --color-baselinks-teal: #006666;
  --color-baselinks-teal-light: #cce0e0;
  --color-baselinks-yellow: #cc9933;
  --color-baselinks-yellow-light: #faf5eb;
  --color-header-border: #cce0e0;
  --color-hero-text: #494949;
  --color-card: #faf5eb;
  --color-card1: #e8e8e8;
  --color-card2: #006666;
  --color-pill: #faf5eb;
  --color-awards: #025454;
  --color-pill-text: #a57d2b;
  --color-project-banner: #fbfbfbd9;
  --color-footer-teal: #044141;
  --color-footer-baselinks: #025454;
  --color-story: #faf5eb;
  --color-border-color: #ebebd6;
  --color-principle: #e0c285;
}

@layer base {
  html {
    /* @apply scroll-smooth; */
  }
  body {
    font-family: "Satoshi", sans-serif;
  }
}
@layer utilities {
  .font-trajan {
    font-family: "Trajan Pro", sans-serif;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-25%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
    display: flex;
    width: 400%;
  }

  @keyframes spin {
    0% {
      transform: rotate(var(--angle));
    }
    100% {
      transform: rotate(calc(var(--angle) + 360deg));
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .animate-spin {
    animation: rotate 35s linear infinite;
  }
}
